*{
	box-sizing: border-box;
	font-family: "AR JULIAN";
}
body{
	background-color: #00FFFF;
}
h1{
	text-align: center;
	font-weight: bold;
	text-decoration: underline;
}
#p1{
	width: 100px;
	background-color: gray;
	float: right;
	margin: 0;
	text-align: center;
	border: 1px black solid;
	font-weight: bold;
	font-style: italic;
}
#p3{
	width: 100px;
	background-color: gray;
	float: right;
	margin: 0;
	text-align: center;
	border: 1px black solid;
	font-weight: bold;
	font-style: italic;
}
#p5{
	width: 100px;
	background-color: gray;
	float: right;
	margin: 0;
	text-align: center;
	border: 1px black solid;
	font-weight: bold;
	font-style: italic;
}
#p2{
	background-color: yellow;
	padding-top: 20px;
	padding-left: 5px;
	padding-right: 5px;
	margin-top: 0;
	margin-bottom: 0;
	border: 1px black solid;
}
#p4{
	background-color: yellow;
	padding-top: 20px;
	padding-left: 5px;
	padding-right: 5px;
	margin-top: 0;
	margin-bottom: 0;
	border: 1px black solid;
}
#p6{
	background-color: yellow;
	padding-top: 20px;
	padding-left: 5px;
	padding-right: 5px;
	margin-top: 0;
	margin-bottom: 0;
	border: 1px black solid;
}
#s1{
	position: relative;
}
#row{
	width: 100%;
	margin-left: auto;
	margin-right: auto;
	margin-top: 10px;
	margin-bottom: 10px;
	padding: 10px;
}
@media (min-width: 992px){
	.col-lg-4{
		float: left;
		border: 1px solid black;
	}
	.col-lg-4{
		width: 33.33%;
	}
}
@media (min-width: 768px) and (max-width: 991px){
	.col-md-6{
		float: left;
		border: 1px solid black;
	}
	.col-md-6{
		width: 50%;
	}
}
@media (max-width: 767px){
	.col-sm-12{
		float: left;
		border: 1px solid black;
	}
	.col-sm-12{
		width: 100%;
	}
}









